[Desktop Entry]
Name=Beryllium
Exec=uBeryllium
Icon=config/beryllium10.png
Terminal=false
Type=Application
Categories=Application;Science;
StartupNotify=false