<?xml version="1.0" encoding="UTF-8"?>
<beryllium>
  <savetolocaldatabase>true</savetolocaldatabase>
  <provider>wiki,merck</provider>
  <enablelogging>false</enablelogging>
  <proxyhost></proxyhost>
  <proxyport></proxyport>
  <localdatabase>database\new database.xml</localdatabase>
  <language>58</language>
</beryllium>
