<?xml version="1.0" encoding="UTF-8"?>
<beryllium>
  <savetolocaldatabase>true</savetolocaldatabase>
  <proxyport>8080</proxyport>
  <provider>wiki,merck,gestis</provider>
  <enablelogging>true</enablelogging>
  <localdatabase>database\new database.xml</localdatabase>
  <proxyhost>213.122.178.99</proxyhost>
  <language>58</language>
</beryllium>
